<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Relevés de solde</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="webjars/datatables/1.10.21/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/datatable.css}"/>

    <script type="text/javascript" th:src="@{webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{webjars/datatables/1.10.21/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{webjars/datatables/1.10.21/js/dataTables.bootstrap4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatableLoading.js}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <form th:action="@{/releveSoldePaginated}" class="dataTableFilterForm" th:object="${releveSoldeFilter}" METHOD="get">
                <div class="form-row">
                    <div class="col">
                        <label for="bookingDate">Date</label>
                        <input type="date" class="form-control" th:field="*{bookingDate}" id="bookingDate" placeholder="Choisissez une date">
                    </div>
                    <div class="col">
                        <label for="categorie">Catégorie</label>
                        <select class="custom-select" id="categorie" th:field="*{instrumentCategory}">
                            <option value="" selected>Choisissez une catégorie...</option>
                            <option th:each="instrumentCategory: ${instrumentCategories}" th:value="${instrumentCategory}" th:text="${instrumentCategory}"></option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="sousCategorie">Sous catégorie</label>
                        <select class="custom-select" id="sousCategorie" th:field="*{instrumentSousCategory}">
                            <option value="" selected>Choisissez une sous catégorie...</option>
                            <option th:each="instrumentSousCategory: ${instrumentSousCategories}" th:value="${instrumentSousCategory}" th:text="${instrumentSousCategory}"></option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="entries">Entrées</label>
                        <select class="custom-select" id="entries" th:field="*{numberOfRows}">
                            <option value="" selected>Choisir un nombre d'entrées...</option>
                            <option value="10">10</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary mb-2 rechercherBtn">Rechercher</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Mandat</th>
                    <th>Libellé Mandant</th>
                    <th>Mandataire</th>
                    <th>Libellé Mandataire</th>
                    <th>ACNO</th>
                    <th>Security ID</th>
                    <th>Eng Long Name</th>
                    <th>Instrctgry</th>
                    <th>Normal Quantity</th>
                </tr>
                </thead>
                <tbody th:each="releveSolde: ${releveDeSoldes}">
                    <tr>
                        <td th:text="${releveSolde.mandant}" />
                        <td th:text="${releveSolde.libelleMandant}" />
                        <td th:text="${releveSolde.mandataire}" />
                        <td th:text="${releveSolde.libelleMandataire}" />
                        <td th:text="${releveSolde.releveDeSoldeId.acno}" />
                        <td th:text="${releveSolde.releveDeSoldeId.securityID}" />
                        <td th:text="${releveSolde.engLongName}" />
                        <td th:text="${releveSolde.instrCtgry}" />
                        <td th:text="${releveSolde.normalQuantity}" />
                    </tr>
                </tbody>
            </table>

            <nav aria-label="...">
                <ul th:if="${releveSoldePage.totalPages > 0}"  class="pagination">
                    <li th:each="pageNumber: ${pageNumbers}" class="page-item active">
                        <a class="page-link sr-only" th:href="@{/releveSoldePaginated(size=${releveSoldePage.size}, page=${pageNumber})}"
                           th:text="${pageNumber}"
                           th:class="${pageNumber==releveSoldePage.number + 1} ? active"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</body>
</html>